@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  box-sizing: border-box;
  background-color: rgb(242, 155, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
}

#container {
  background-color: rgb(255, 255, 255);
  padding: 10em;
  border: 3px solid black;
  box-shadow: 16px 16px black;
  width: 40vw;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 60px;
  margin: 1em;
}

#butt {
  cursor: pointer;
}

#fart {
  opacity: 0;
}

a {
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 0;
  margin: 5px;
}

a:hover {
  color: white;
}
